body {
    margin: 0;
    background: #1e1e1e;
    color: #e0e0e0;
    font-family: "Segoe UI", Roboto, sans-serif;
}

.container {
    max-width: 900px;
    margin: 30px auto;
    padding: 20px;
}

.headline {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 20px;
}

.headline-small {
    font-size: 1.4rem;
    margin-top: 30px;
    margin-bottom: 10px;
}

.state-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 30px;
}

.state-card {
    display: flex;
    align-items: center;
    gap: 15px;
    background: #2b2b2b;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.25);
     overflow: visible;
}

.state-color-box {
    width: 70px;
    height: 70px;
    background: #4caf50; /* Wird durch JS überschrieben */
    flex-shrink: 0;

    display: inline-block;

    /* wichtig: NICHTS darf die Form überschreiben */
    border-radius: 0 !important;

    /* echtes Hexagon */
    clip-path: polygon(
        25% 0%,
        75% 0%,
        100% 50%,
        75% 100%,
        25% 100%,
        0% 50%
    );
}

.state-text {
    font-size: 1.2rem;
    font-weight: 500;
}

.log-view {
    background: #151515;
    border: 1px solid #333;
    padding: 10px;
    height: 300px;
    overflow-y: scroll;
    font-family: Consolas, monospace;
    font-size: 14px;
    white-space: pre-wrap;
    border-radius: 8px;
}
